h1{
    text-align:center; 
    color: #5534c9; 
    background-color: #eaf553; 
    border:1px solid #5534c9
}

h3{
    text-align:center; 
    color: #d13c34; 
    border:1px solid #000000
}

button{color: #5534c9; 
    background-color: #eaf553;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px
}

button:hover{
    color: #ff0000
}

p{
    text-align: center;
}

