<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>My VueJS app</title>
    </head>
    <body>
        <div id="vueApp">
            <h1 v-text="title"></h1>-->
            <input v-model="newItem" v-on:keyup.enter='addItem' />
            <span><button @click.prevent="addItem">Add</button></span>
            <h3>List:</h3>

            <ul v-for="list in lists" v-bind:key="list.id">
                <li><input type="checkbox"> &nbsp {{list.item}} &nbsp <button @click.prevent="removesItem(list)" type="button">Remove</button> </li>
            </ul>
        </div>



        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
